# Build artifacts
*.o
*.obj
*.exe
*.out

# Clang precompiled modules
*.pcm

# Libraries
*.a
*.lib
*.so
*.dll
*.dylib

# Debug files
*.pdb
*.ilk
*.dSYM/

# Precompiled headers
*.gch
*.pch
